# Ch2. Variables

### 자료형 변환하기
* int,str,float,bool

In [2]:
a = 10
type(a)

int

자료형 변환은 원하는 자료형으로 감싸면 된다.

In [3]:
#int -> str
str(a)

'10'

In [4]:
# int->bool
bool(10)

True

In [5]:
# float => int:10.6
int(10.9)

10

부동소수점에서는 변환 시 소수점 아래 숫자를 버린다.

In [9]:
x = 4.6
y = 7.9

print( int(x + y) )
print(int(x)+int(y))

12
11

```python
int(x)+int(y)
```가 더 작다. 소수점이 버려지고 나서 더해지기 때문

In [10]:
# str -> int

p = '88.3'
int(p)

ValueError: invalid literal for int() with base 10: '88.3'

p = '88.3' 는 정수형 변환이 불가능하다. 바꾸기 위해서는 형태가 맞아야 한다.
이는 float 으로는 변환할 수 있다.

In [11]:
# str -> float

p = '88.3'
float(p)
type(p) #변환이 된 것을 볼 수 있다.

str

### print 함수

In [12]:
print('orange','apple','tomato') # 기본값이 서로 띄어쓰기가 됨.
print('the next line') #기본적으로 다음 줄로 됨. 엔터 친 것과 같은 효과

orange apple tomato
the next line

In [4]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#1 
print(orange+apple+tomato) #띄어쓰기가 사라짐
print(orange,apple,tomato,sep=' ',end=' ')#default 기본적으로 띄어쓰기가 되어서 출력된다.
print()
print(orange,apple,tomato,sep='_',end='\n\n')
print('EOL')

orangeappletomato
orange apple tomato
orange_apple_tomato

EOL

In [1]:
# 라인이 짧아서 간결하게 표현하고 싶을 때
orange = 'orange';apple = 'apple';tomato = 'tomato'

## input()

* console에서 사용자에게 값을 입력 받는 함수 
=> 콘솔이란? 터미널이라고도 부른다. 대개 디스플레이 모니터와 키보드(또는 입력이 가능한 다른 장치)가 조합된 장치
* 입출력 관련
* 입력 받는 값의 타입은 문자열 -> 필요에 따라서 형변환이 필요함
```python
a = int(input())
```
* 입력 받은 값을 변수에 담아서 사용한다.

In [15]:
input("what's your name?")

what's your name?3

'3'

In [8]:
#1.
name = input("what's your name?")

what's your name?seunghee

In [9]:
name

'seunghee'

In [10]:
#2. 
print("what's your name?")
name = input()

what's your name?
seunghee

In [11]:
print(name)

seunghee

In [12]:
#문자열이 아닌 값을 입력받고자 하는 경우
age = input()

1

In [13]:
type(age)

str

string이 아닌 다른 값을 입력받고 싶은 경우에는 형변환을 해주어야 한다.

In [5]:
age = int(input("How old are you?")) #정수형으로 변환하여 입력을 받음.

How old are you?13

In [15]:
type(age)

int

In [7]:
age = input("How old are you?")
age = int(age)
type(age) #문자열로 입력받고, 정수형으로 형변환을 해줘도 되는군!

How old are you?13

int

In [8]:
print("당신이 태어난 해는",2022-age+1) #연산이 가능해짐

당신이 태어난 해는 2010

### printing

In [9]:
print(f'당신이 태어난 해는 {2022-age+1}년입니다!') #print(f'(<variable>)')

당신이 태어난 해는 2010년입니다!

### 파이썬의 문자열 포매팅
- f'{} ' 의 형태를 띈다. {} 안에는 변수명 혹은 위와 같은 계산식을 쓸 수 있다.
ex) 
```python
age = 13
name = '김철수'
print(f'{name}은 {age}살이다.')
```

### Quiz 1
- 택배 정보를 입력 받고 무게에 따른 값 산정하기
    - 수취인 성명 :
    - 수취인 주소 :
    - 배송비 : 3000원
    - 물건 비용: <계산된 값>원
    - 총 합계 : <>원
- 총 물건 비용은 무게(g) * 5
- 입력 값 = 이름, 주소, 무게

In [18]:
name = input("받는 사람의 이름은?")
adress = input("받는 사람의 주소는?")
weight = float(input("물건의 무게는?"))
deliv_cost = 3000

받는 사람의 이름은?진승희
받는 사람의 주소는?서울시 동대문구
물건의 무게는?100

In [19]:
print(f'수취인 성명 : {name}\n수취인 주소 : {adress}\
\n배송비 : {deliv_cost}원\n물건 무게 : {weight}g\n총 합계 : {int(weight*5+deliv_cost)}원')

수취인 성명 : 진승희
수취인 주소 : 서울시 동대문구
배송비 : 3000원
물건 무게 : 100.0g
총 합계 : 3500원

## Ch 03. Numbers

### boolean
- True / False
- if 문에서 주로 쓴다. 만약 어떤 값이 True 라면..

In [20]:
bool(0)

False

In [21]:
bool('')

False

0 혹은 비어 있는 값은 모두 false 이다. (None도 Flase)

In [10]:
new = True
if new:
    print("new")
else:
    print("no")

new

True인 경우에는 python 의 if 문에서
```python
if new:
```
와 같이 사용할 수 있다.

### Integer
- 분수나 소수가 아닌 정수
- 음수는 '-' 기호를 붙인다. -50
- default = 양수
- 숫자 앞에는 0을 쓰지 못한다. 09 불가능.
     - 예외 : 0bxx 와 같이 10진수가 아닌 경우에는 가능.
- 숫자 사이에 쉼표를 쓰면 오류 100,000 => 두개의 원소로 취급됨 => 100_000 으로 써야 함.
         => 숫자 사이의 언더바는 인식하지 않는다는 의미

In [22]:
a = 09

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2890110653.py, line 1)

숫자 앞에 0을 쓰면 안된다는 예시

In [23]:
a = -50
b = 49
a+b

-1

### operator 연산자
- +, -, *, /
- 피연산자 | operand: 1, 2, ...
- 수식 | expression

In [24]:
x = 9
y = 4

# 연산
x + y
x - y
x * y
x / y
x ** y #거듭제곱 | exponential

6561

나눗셈의 몫과 나머지

In [25]:
x / y # 몫과 나머지가 합쳐져서 나옴

2.25

In [26]:
x // y # 몫

2

In [27]:
x % y # 나머지

1

In [28]:
divmod(x,y) # 몫과 나머지가 튜플로 반환된다.

(2, 1)

#### division by zero (0으로 나누면 오류난다.) 항상 유의할 것.

복합 대입 연산자 | compound assignment operator

In [12]:
x = 3/0 #아래와 같은 zerodivisionError 발생!

ZeroDivisionError: division by zero

In [29]:
x = 5
x - 3 # 할당을 해주지 않음.
print(x)

5

In [30]:
x = x-3
print(x)

2

계산 -> 임시 변수에 담기 -> 이를 할당해줌

x - 3 -> temp = x - 3  -> x = temp

In [13]:
#옮겨보기
a = 3
b = 6

In [14]:
temp = a
a = b
b = temp #temp 를 이용하여 두 숫자를 바꿀 수 있다.
a,b

(6, 3)

In [31]:
x += 3
x -= 3
x *= 3
x /= 3

### Quiz 1.
- 반지름을 입력 받아서 원의 면적 구하기
- 반지름은 pi * r제곱

In [32]:
from math import pi

r = int(input())
result = r**2*pi
print(f'원의 넓이는 {result} 입니다.')

3
원의 넓이는 28.274333882308138 입니다.

### Quiz 2.
- 숫자를 입력 받고 3의 배수인지 확인하기

In [33]:
num = int(input())
print(not bool(num%3))
if num%3==0:
    print(f'{num}은 3의 배수입니다.')
else:
    print(f'{num}은 3의 배수가 아닙니다.')

30
True
30은 3의 배수입니다.

In [34]:
num = int(input())
if num%2==0:
    print(f'{num}은 짝수입니다.')
else:
    print(f'{num}은 짝수가 아닙니다.')

3
3은 짝수가 아닙니다.

### 지수 표현
- 예: '1.0e-4'
- e의 앞부분은 소수, 정수 둘 다 됨.
- 뒷부분은 정수여야 함.
- 뒷부분이 음수면 소수점 자리수를 의미함.
- e, E

In [35]:
1.0e-4

0.0001

In [36]:
4005.0e-7

0.0004005

### 연습문제
- 3.1 1시간은 몇 초인가? 대화식 인터프리터를 계산기로 사용해서 1시간(60분)에 1분(60초)을 곱하기
- 3.2 계산한 결과를 seconds_per_hour 변수에 저장
- 3.3 1일은 몇 초인가? seconds_per_hour 변수를 사용
- 3.4 계산한 결과를 seconds_per_day 변수에 저장
- 3.5 부동소수점(/) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누기
- 3.6 정수(//) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누기. 3.5 문제 결과에서 본
.0 부분을 제외하고 결과가 같은가?

In [37]:
seconds_per_hour = 60*60
seconds_per_day = seconds_per_hour*24
result1 = seconds_per_day/seconds_per_hour
print(result1)
result2 = seconds_per_day//seconds_per_hour
print(result2)

24.0
24

result1과 result2는 다르다. result2는 정수 나눗셈을 하는 것이므로 부동소수점 나눗셈과는 결과가 다르다.

## IF 조건문

### 코드 짜는 팁
- 주석 달기
    - #해시, 샵
    - 시작 지정부터 라인 끝까지 주석 처리됨.
    - """ """ 주석이 긴 경우
    - 코드에 대한 설명은 최대한 하지 않는다. 의도를 나타내기 위해서, 오류가 있다거나 ...
- 라인 유지하기
    - 들여쓰기 (default space 4, tab 이용)
    - 논리구조를 나타내기 때문에 중요하다
    - 한 라인이 너무 길어지면 (80자 정도) 백슬래시로 라인을 분리해준다.

In [38]:
#주석입니다.
"""
주석1
"""
a = 3
print(a)

3

In [39]:
print('hey, there #') #문장 안에 있으면 #을 그냥 문자로 인식

hey, there #

### if
if <조건식>:<br>
    <실행할 코드>

In [40]:
if 3!=1:
    print("두 수는 같지 않다")

두 수는 같지 않다

- if-else
if <조건식>:<br>
<실행할 코드1><br>
else:<br>
<실행할 코드2>

In [41]:
if 3!=1:
    print("두 수는 같지 않다")
else:
    print("두 수는 같다")

두 수는 같지 않다

- if-elif-else
if <조건식>:<br>
<실행할 코드1><br>
elif <조건식>:<br>
<실행할 코드1><br>
else:<br>
<실행할 코드2>

In [42]:
a = 4
if a<3:
    print("3보다 작다")
elif a==3:
    print("3이다")
else:
    print("3보다 크다")

3보다 크다

### 비교연산자
- x < y
- x > y
- x >= y
- x <= y
- x == y -> 값만 동일
- x!= y
- x is y -> 값, 메모리 주소 모두 동일
- x is not y

### 퀴즈

- 1. 시험 점수를 입력 받고, 80점 이상이면 True, False 반환하기
- 2. 시험 점수를 입력 받고, 95점 이상 A+, 90점 이상 A, 85점이상 B+, 나머지 F

In [44]:
score = int(input())
print(score>=80)

80
True

In [45]:
score = int(input())
if score>=95:
    print("A+")
elif score>=90:
    print("A") 
elif score>=85:
    print("B+")
else:
    print("F")

90
A